.btn {
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  border: 0 none;
  background: none;
}
.name {
  font-size: 20px;
  color: #000000;
  margin: 0 15px;
  font-weight: normal;
}
.ava {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}