.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.content {
  padding: 8px;
  background-color: #fff;
  position: relative;
  transform: translate3d(0, 100%, 0);
  transition-duration: 0.3s;
  height: 100vh;
  will-change: transform;
}
.wrapper {
  display: flex;
}
.btn {
  padding: 0 20px;
  color: #fff;
  background-color: var(--blue-color);
  border: 0 none;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 4px;
}
.field {
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 100%;
  padding: 0 10px;
  font-size: 18px;
}
.list {
  overflow-y: auto;
  margin-top: 10px;
  max-height: calc(100% - 40px);
}
.item {
  margin-bottom: 10px;
}
.option {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 18px;
  border: 0 none;
  padding: 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
}
.option:active {
  color: #fff;
  background-color: var(--blue-color);
  font-weight: bold;
}

