.item {
  padding: 0 10px;
  text-align: center;
  line-height: 1.667;
  position: relative;
  height: 100%;
}
.label {
  border-radius: 4px;
  display: block;
  padding: 4px 6px;
  border: 2px solid transparent;
  height: 100%;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.input:not(:checked) + .label.order {
  color: #cccccc;
}
.input {
  position: absolute;
  opacity: 0.01;
  display: inline;
}
.input:checked + .label.order {
  background: #95A8BC;
  color: #fff;
  border-color: #fff;
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.unit {
  font-size: 18px;
}