.container {
  margin-bottom: 5px;
  position: relative;
}
.link {
  text-decoration: none;
  color: #516174;
  font-size: 14px;
  background: var(--tile-background);
  border: 1px solid var(--tile-border);
  border-radius: 2px;
  padding: 10px;
}
.active {
  color: #fff;
  background: var(--darck-gray-color);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 20px;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 1 1;
}
.volume {
  padding-left: 10px;
  white-space: nowrap;
  text-align: right;
  flex: 0 0;
}
.summary {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}
.quantity {
  font-weight: bold;
}
.summ {
  font-weight: 600;
  font-size: 20px;
}
