.container {
  margin-bottom: 5px;
  position: relative;
}
.link {
  text-decoration: none;
  color: #516174;
  font-size: 14px;
  background: #F1F4F7;
  border: 1px solid #DCE0E3;
  border-radius: 2px;
  padding: 10px;
}
.active {
  color: #fff;
  background: #95A8BC;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 20px;
}
.volume {
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
}
.summary { 
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}
.quantity {
  font-weight: bold;
}
.summ {
  font-weight: 600;
  font-size: 20px;
}
