.item {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 8px;
}
.item:nth-child(odd) {
  background-color: var(--light-gray-color);
}
.name {
  flex: 1 1 100%;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quantity {
  flex: 0 0 35px;
  margin: 0 12px;
  text-align: right;
}
.sum {
  flex: 0 0 50px;
  text-align: right;
}
