.container {
  padding-bottom: 30px;
}
.list {
  /*padding: 10px 0;*/
}
.item {
  display: flex;
  border: 1px solid var(--light-border-color);
  border-radius: 4px;
  padding: 10px 5px;
  margin-bottom: 5px;
  align-items: center;
}
.remove {
  margin-left: 10px;
  background-color: var(--red-color);
}
.remove::after {
  background-color: #fff;
}
.label {
  min-width: auto;
  flex-basis: auto;
  margin-left: 10px;
}
.article {
  width: 100%;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.field {
  margin-bottom: 0;
  width: auto;
}
.btnGroup {
  display: flex;
  justify-content: center;
}
.submit {
  padding: 0 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 4px;
}
