@import "./buttons.css";

:root {
  --green-color: #7BCBB0;
  --green-button: #27AE60;
  --blue-color: #3796f6;
  --border-color: #C4C4C4;
  --light-border-color: #DCE0E3;
  --red-color: #E62752;
  --red-button: #E52752;
  --darck-gray-color: #95A8BC;
  --medium-gray-color: #cccccc;
  --light-gray-color: #EAEAEA;
  --orange-color: #EE8035;
  --disabled-color: #cccccc;

  --green-button-shadow: 0px 30px 40px rgba(36, 156, 87, 0.15);
  --red-button-shadow: 0px 30px 40px rgba(229, 39, 82, 0.2);

  --tile-width: 180px;
  --tile-height: 180px;
  --tile-border-radius: 10px;
  /*--tile-background: #F8FAFC;*/
  /*--tile-border: #DCE0E3;*/
  --tile-background: #EBECED;
  --tile-border: #DCE0E3;

  --grid-item-width: 180px;
  --grid-item-height: 180px;

  --wrapper-padding: 10px;


}
/** Column */
.column_wrapper {
  display: flex;
}
.column_item {
  flex: 1 1 100%;
}
/** Grid */
.grid__container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, var(--grid-item-height));
  /* grid-template-rows: repeat(auto-fill, var(--grid-item-width)); */
  grid-gap: 15px;
  position: relative;
}

.grid__item {
  min-height: var(--tile-height);
  min-width: var(--tile-width);
  position: relative;
  height: var(--grid-item-height);
}
/** Tile */
.tile__container {
  text-decoration: none;
  background: var(--tile-background);
  border: 1px solid var(--tile-border);
  border-radius: 10px;
  height: 100%;
  padding: 12px;
}
.tile__title {
  text-align: center;
  color: #000000;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/** --- */
.scroll-section {
  position: relative;
  height: 100%;
  overflow-y: auto;;
}
