.container {
  width: 100%;
  display: flex;
  border-radius: 6px;
  background-color: #fff;
  height: 100px;
  position: relative;
}

.warapper {
  border: 1px solid #95A8BC;
  border-left: 0 none;
  display: flex;
  flex: 1 1 100%;
  padding: 0 24px;
  border-radius: 0 6px 6px 0;
}

.editable {
  border-radius: 6px;
}

.warapper.editable {
  border-left: 1px solid #95A8BC;
}

.params {
  flex: 1 1 100%;
}

.title {
  color: #3B4E63;
  text-transform: uppercase;
  margin: 16px 0;
}

.container:not(:first-child) {
  margin-top: 10px;
}

.valuation {
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

.remove {
  background: url("./image/Cross.svg") scroll no-repeat center center #E62752;
  border: 1px solid #E62752;
  border-radius: 6px 0 0 6px;
  width: 100px;
}
