.container {
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-start;
}
.link {
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: black;
  flex: 1 1 100%;
  margin-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.active {
  background: #F8FAFC;
  outline: 1px solid #DCE0E3;
}
.btn {
  margin-right: 6px;
}
