.container {
  background-color: #fff;
  position: relative;
  width: 400px;
  overflow: hidden;
}
.wrapper {
  display: flex;
  will-change: transform;
  transition: 0.3s transform ease-out;
}
.wrapper.checkout {
  transform: translateX(-100%);
}
.btnGroup {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.btn {
  height: 40px;
  padding: 0 20px;
  width: 60%;
  margin: 0 20px;
  border: 0 none;
  font-size: 18px;
  border-radius: 6px;
}
.cancel {
  background-color: var(--red-button);
  box-shadow: var(--red-button-shadow);
  color: #fff;
}
.pay {
  background-color: var(--green-button);
  box-shadow: var(--green-button-shadow);
  color: #fff;
}
