.button_add {
  height: 40px;
  width: 40px;
  background: url("./components/images/add-24px.svg") scroll no-repeat center center #EBECED;
  border: 1px solid #DCE0E3;
  border-radius: 10px;
}

.button_edit {
  height: 40px;
  width: 40px;
  background: url("./components/images/edit-24px.svg") scroll no-repeat center center #EBECED;
  border: 1px solid #DCE0E3;
  background-size: 24px 24px;
  border-radius: 10px;
  flex: 0 0 40px;
  min-width: 40px;
}