.form {
  max-width: 400px;
  margin: 0 auto;
}
.btnGroup {
  text-align: center;
  margin-top: 40px;
}
.btn {
  margin: 10px auto;
  padding: 0 30px;
  font-size: 18px;
  height: 40px;
  border: 1px solid #7BCBB0;
  border-radius: 4px;
  color: #fff;
  background-color: #7BCBB0;
}
.btn:disabled {
  background-color: #cccccc;
  border-color: #cccccc;
}
.title {
  margin-bottom: 30px;
  text-align: center;
}
.content {
  display: flex;
  align-items: flex-start;
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.column {
  flex: 1 1 100%;
  padding-top: 30px;
}
