.item {
  padding: 0 10px;
  text-align: center;
  line-height: 1.667;
  position: relative;
}

.label {
  border-radius: 4px;
  display: block;
  padding: 4px 6px;
  border: 2px solid transparent;
}
.input {
  position: absolute;
  opacity: 0.01;
  display: inline;
}
.input:checked + .label {
  border-color: #456595;
}