.container {
  display: flex;
  padding: 0 0 0 8px;
}
.service {
  background: rgba(123, 203, 176, 0.3);
}
.product {
}
.remittance {
  background: rgba(55, 150, 246, 0.3);
}
.container > * {
  flex: 1 1 100%;
}
.date {
  flex: 0 0 120px;
}
.quantity {
  flex: 0 0 50px;
}
.valuation {
  flex: 0 0 120px;
}
.sum {
  flex: 0 0 120px;
}
