.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  height: 42px;
}
.item.disabled {
  opacity: 0.4;
  cursor: none;
}
.itemTitle {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  margin-right: 12px;
}
